@import "variables";

.wrap {
  max-width: 650px;
  width: 100%;
  //min-height: 375px;
  box-shadow: $BOX_SHADOW_VALUE;
  border-radius: 20px;
  padding: 20px;
  color: $COLOR;
}

.titleBlockWrap {
  margin-top: 0;
}

.filterBlockWrap {
  margin-top: 10px;
}

.cardListWrap {
  margin: 10px -10px 0;
}
