$BOX_SHADOW_VALUE: 0 1px 20px rgba(0, 0, 0, .4);
$TRANSITION_DURATION: 800ms;


.wrap {
  width: 300px;
  height: 400px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  border-radius: 5px;
  box-shadow: $BOX_SHADOW_VALUE;

}

.cardScroll {
  display: flex;
  height: 350px;
  width: 300px;
  overflow: hidden;
}

.cardWrap {
  display: flex;
  height: 350px;
  gap: 50px;
  width: 300px;
  justify-content: center;

  & > div:nth-child(1), & > div:nth-child(3) {
    opacity: 0;
  }
}

.cardWrapTransition {
  transition: all $TRANSITION_DURATION ease;
}

.showNextAnimation {
  margin-left: -250px;

  & > div {
    transition: all $TRANSITION_DURATION ease;
  }

  & > div:nth-child(2) {
    opacity: 0;
    transform: scale(.9);

  }

  & > div:nth-child(3) {
    opacity: 1;
  }
}

.showPrevAnimation {
  margin-left: 250px;

  & > div {
    transition: all $TRANSITION_DURATION ease;
  }

  & > div:nth-child(2) {
    opacity: 0;
    transform: scale(.9);
  }

  & > div:nth-child(1) {
    opacity: 1;
  }

}

.btn {
  border-radius: 50%;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: $BOX_SHADOW_VALUE;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    //opacity: 0.8;
  }
}

.left {
  position: absolute;
  top: 50%;
  left: -15px;
}

.right {
  position: absolute;
  top: 50%;
  right: -15px;
}

.title {
  width: 150px;
  height: 40px;
  background-color: #12a2bf;
  position: absolute;
  left: 0;
  top: -10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: skewY(-10deg);
  font-size: 16px;
  font-weight: 600;
  z-index: 5;
}

.countDown {
  width: 100px;
  height: 40px;
  background-color: #0e7e95;
  position: absolute;
  left: -20px;
  top: 35px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: skewY(-10deg);
  font-size: 16px;
  font-weight: 600;
  z-index: 4;
}

.countDownShadow {
  width: 20px;
  height: 20px;
  background-color: #333;
  position: absolute;
  left: -20px;
  top: 73px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: skewY(40deg);
  font-size: 16px;
  font-weight: 600;
  z-index: 3;
}

.btnIcon {
  width: 20px;
  height: 20px;
  color: #e31235;

  &:hover {
    color: #bd0f2c;
  }
}
